<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/orderHist.js}"></script>
</th:block>

<th:block layout:fragment="css">
    <link th:href="@{/css/orderHist.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
    <div class="content_layout">
        <div class="content-mg">
            <h2 class="mb-4 text_bigHeader">구매 이력</h2>
            <div th:each="order : ${orders.getContent()}">
                <div class="d-flex mb-3 align-self-center">
                    <h4 th:text="${order.orderDate} + '주문'" class="text_midHeader"></h4>
                    <th:block th:if="${order.orderStatus == T(com.flower.constant.OrderStatus).ORDER}">
                        <h4 class="h4 text_midHeader" style="color:black;">(배송 완료)</h4>
                    </th:block>
                    <th:block th:if="${order.orderStatus == T(com.flower.constant.OrderStatus).CANCEL}">
                        <h4 class="h4 text_midHeader">(취소 완료)</h4>
                    </th:block>
                    <th:block th:if="${order.orderStatus == T(com.flower.constant.OrderStatus).CANCEL_WAIT}">
                        <h4 class="h4 text_midHeader">(취소 대기)</h4>
                    </th:block>
                    <th:block th:if="${order.orderStatus == T(com.flower.constant.OrderStatus).ORDER_WAIT}">
                        <h4 class="h4 text_midHeader" style="color:black;">(배송 대기)</h4>
                    </th:block>
                    <th:block th:if="${order.orderStatus == T(com.flower.constant.OrderStatus).RM}">
                        <h4 class="h4 text_midHeader">해당상품은 삭제되었습니다.</h4>
                    </th:block>
                </div>

                <div class="card d-flex">
                    <div th:each="orderItem : ${order.orderItemDtoList}" class="d-flex mb-3">
                        <div class="repImgDiv">
                            <img th:src="${orderItem.imgUrl}" class="rounded repImg" th:alt="${orderItem.itemNm}">
                        </div>
                        <div class="align-self-center w-75 item_text">
                            <span th:text="'상품명 : ' +${orderItem.itemNm}" class="font-weight-bold text_midHeader"></span>
                            <div class="fs18 font-weight-light">
                                <span th:text="${#numbers.formatInteger(orderItem.orderPrice, 3, 'COMMA')} +  '원'" class="text_p"></span>
                            </div>
                            <span th:text="'수량 : '+${orderItem.count} +'개'" class="text_p"></span>
                        </div>
                        <div class="align-self-center">
                            <th:block th:if="${order.orderStatus == T(com.flower.constant.OrderStatus).CANCEL_WAIT}">
                                <button type="button" class="btn btn-outline-secondary cancel_btn text_button" th:value="${order.orderId}"
                                        onclick="cancelOrder(this.value)" th:data-num="1">취소</button>
                            </th:block>
                            <th:block th:if="${order.orderStatus == T(com.flower.constant.OrderStatus).ORDER_WAIT}">
                                <button type="button" class="btn btn-outline-secondary cancel_btn text_button" th:value="${order.orderId}"
                                        onclick="cancelOrder(this.value)" th:data-num="2">상품 취소</button>
                            </th:block>
                            <th:block th:if="${order.orderStatus == T(com.flower.constant.OrderStatus).ORDER}">
                                <button type="button" class="btn btn-outline-secondary cancel_btn text_button" th:value="${order.orderId}"
                                        onclick="cancelOrder(this.value)" th:data-num="3">주문 취소</button>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

            <div th:with="start=${(orders.number/maxPage)*maxPage +1},
                end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage-1) < orders.totalPages ?
                start + (maxPage -1) : orders.totalPages)})">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${orders.number eq 0}?'disabled' : ''">
                        <a th:href="@{'/orders/'+${orders.number-1}}" aria-label="previous" class="page-link">
                            <span aria-hidden="true" class="page_left"></span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
                        th:classappend="${orders.number eq page-1}?'active':''">
                        <a th:href="@{'/orders/' + ${page-1}}" th:inline="text" class="page-link text_p">[[${page}]]</a>
                    </li>
                    <li class="page-item" th:classappend="${orders.number+1 ge orders.totalPages}?'disabled' : ''">
                        <a th:href="@{'/orders/'+${orders.number+1}}" aria-label="Next" class="page-link">
                            <span aria-hidden="true" class="page_right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>