<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/memberPick.js}"></script>
</th:block>

<th:block layout:fragment="css">
    <link th:href="@{/css/memberPick.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
    <div class="content_layout">
        <ul class="content_line">
            <h2 class="text_bigHeader header_text">관심상품</h2>
            <th:block th:each="item : ${pickItems}">
                <li class="content_item">
                    <img src="/img/heart.gif" class="heart_img" th:data-id="${item.id}" onclick="deletePick(event)">
                    <a class="card" th:href="'/item/'+${item.id}">
                        <img class="card_img" th:src="${item.imgUrl}">
                    </a>
                    <h3 class="text_midHeader card_name" th:text="${item.itemNm}"></h3>
                </li>
            </th:block>>
        </ul>
    </div>
</div>
</html>