<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/today.js}"></script>
</th:block>

<th:block layout:fragment="css">
    <link th:href="@{/css/today.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">

    <div class="content_layout">
        <input hidden id="flowerInfo" th:value="${flowerInfo}">
        <input hidden id="dataNo">
        <div class="today_div">
            <h2 class="text_bigHeader"></h2>
            <img>
            <h3 class="text_midHeader"></h3>
            <p class="text_p"></p>
            <div>
                <button class="text_button" id="detailBtn">자세히 보기</button>
                <button class="text_button" id="searchBtn" onclick="location.href='/api/todaySearch'">검색하기</button>
            </div>
        </div>


        <div class="flower_info">
            <div class="info_date">
                <label class="text_bigHeader"></label><label class="text_bigHeader"></label>
            </div>
            <div class="info_div">
                <div class="img_div">
                </div>
                <div class="details">
                    <div class="details_label">
                        <label class="text_bigHeader"></label>
                        <label class="text_p"></label>
                    </div>
                    <div>
                        <p class="text_p"></p>
                    </div>
                </div>
            </div>
            <div class="flower_habitat details_text">
                <h4 class="text_midHeader"></h4>
                <p class="text_p"></p>
            </div>
            <div class="flower_growing details_text">
                <h4 class="text_midHeader"></h4>
                <p class="text_p"></p>
            </div>
            <div class="flower_purpose details_text">
                <h4 class="text_midHeader"></h4>
                <p class="text_p"></p>
            </div>
            <button class="text_button" id="simpleBtn">간단히 보기</button>
        </div>
    </div>

</div>
</html>