.content-mg{
    width: 100%;
    margin-top:2%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.repImgDiv{
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 15px;
    height:auto;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.repImg{
    height:100px;
    width:100px;
}

.card{
    width:90%;
    margin: 0 auto;
    height:100%;
    padding:5px;
    margin-bottom:20px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fs18{
    margin-top: 20px;
}

.item_text{
    padding-left: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.h4{
   margin-left: 25px;
   color: #FF5159;
}

.cancel_btn{
    width: 110px;
    height: 45px;
    text-align: center;
    margin-right: 20px;
    box-shadow: 0 0 5px #43655A;
    opacity: 80%;
    border: none;
}

.cancel_btn:hover{
    transform: translateY(-3px);
}